<div class="large-6 columns">
	<ul class="inline-list ">
		<li><%= link_to 'ALL', root_path %></li>
		<li><%= link_to 'FAVORITES', '/f' %></li>
		<li><%= link_to 'OLDEST', '/o' %></li>
		<li><%= link_to 'ARCHIVE', '/a' %></li>
	</ul>
</div>

<div class="large-6 columns">
	<div class="bookmarks-stats">You curated
		<%= @bookmark_count_all %> links so far.
		<% if @bookmark_count_unread > 0 %>
			<%= link_to "#{@bookmark_count_unread} are still unread.", '/n' %>
		<% end %>
		<% if @bookmark_count_archived > 0 %>
			<%= link_to "#{@bookmark_count_archived} archived.", '/a' %>
		<% end %>
	</div>
</div>