<% if bookmark.view_count == 0 %>
	<div class='bookmark-unread'>
<% else %>
	<div class='bookmark'>
<% end %>
	
	<div class='bookmark-favicon'>
		<%= favicon_tag bookmark.site_id %>
	</div>


	<div class='bookmark-meta'>
		<div class='bookmark-title'>
			<%= link_to bookmark.description, "/r/#{bookmark.url_shortened}", :target => '_blank' %>
		</div>
		<div class='bookmark-site'>
			<%= bookmarks_by_site bookmark.site_id %> . <%= timeago(bookmark.created_at) %>
		</div>
	</div>
	
	<div class='bookmark-meta2'>
		<div class='bookmark-controls-top'>
			
		</div>
		<div class='bookmark-controls-bottom'>
			<%= link_to 'edit', edit_bookmark_path(bookmark) %>
			<%= link_to 'delete', bookmark, method: :delete %>
		</div>
	</div>

</div>