<% content_for :javascript do %>
<script>
	$('document').ready(function() {
		intervalID = setInterval(checkScroll, 200);
	})
</script>
<% end %>

<div class="row content">
	
	<div class="large-12 columns">
		<ul class="inline-list ">
			<li><%= link_to 'NEW', '#' %></li>
			<li><%= link_to 'FAVORITES', '#' %></li>
			<li><%= link_to 'SITES', '#' %></li>
			<li><%= link_to 'ALL', '#' %></li>
			<li><%= link_to 'ARCHIVE', '#' %></li>
		</ul>
	</div>
	
	<div class="small-12 columns bookmarks">
		<div class="bookmark-input">
			<%= form_for(@bookmark) do |f| %>
			<%= text_field_tag :url, params[:url], class: "b-input", id: "appendedInputButton", placeholder: "Add a new bookmark…"  %>
			<% end %>
		</div>
		<% if !@bookmarks.blank?%>
		<div class="bookmarks-stream">
			<%= render :partial => "bookmark", :collection => @bookmarks%>
		</div>
		<% end %>
	</div>

</div>
