<% content_for :javascript do %>
<script>
	$('document').ready(function() {
		intervalID = setInterval(checkScroll, 200);
	})
</script>
<% end %>

<div class="row content">
	<div class="small-3 columns dashboard">
				
		<ul class="side-nav">
			<li class="active">
				<%= link_to "My Bookmarks", root_path %>
			</li>
		</ul>

		<!--
		<%= render 'layouts/favorites' %>
		<%= render 'layouts/footer' %>
		-->
		
	</div>

	<div class="small-9 columns bookmarks">
		<div class="bookmarks-input">
			<%= form_for(@bookmark) do |f| %>
			<%= text_field_tag :url, params[:url], class: "b-input", id: "appendedInputButton", placeholder: "Add a new bookmark…"  %>
			<% end %>
		</div>
		<% if !@bookmarks.blank?%>
		<div class="bookmarks-stream">
			<%= render :partial => "bookmark", :collection => @bookmarks%>
		</div>
		<% end %>
	</div>

</div>
