
<li><%= link_to 'ABOUT', page_path('about') %></li>

<% if user_signed_in? %>
	<% if user_has_admin_role? %>
		<li><%= link_to 'USERS', users_path %></li>
	<% end %>
	
	<li><%= link_to 'MY ACCOUNT', edit_user_registration_path %></li>
	<li><%= link_to 'LOGOUT', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
	<li><%= link_to 'LOGIN', new_user_session_path %></li>
	<li><%= link_to 'SIGN UP', new_user_registration_path %></li>
<% end %>
